---

apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: "{{ params.name }}-{{ env }}"
  labels:
    acm-app: "{{ app }}"
    {%- if "labels" in params %}
      {%- for k, v in params.labels.items() %}
        {{- "\n" + k | indent(width=4, first=True) }}: "{{ v }}"
      {%- endfor %}
    {%- endif %}
spec:
  selector:
    matchLabels:
      acm-app: "{{ app }}"
