---

apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  name: "{{ params.name }}-{{ env }}-{{ zone }}"
  namespace: "{{ params.namespace }}"
  labels:
    {%- if params.labels %}
    {{ params.labels | to_yaml | indent(width=4) }}
    {%- endif %}
    acm-app: "{{ app }}"
spec:
  channel: "{{ params.channel }}"
  name: "{{ params.chart.name }}"
  packageFilter:
    version: "{{ params.chart.version }}"
  placement:
    placementRef:
      name: "{{ placement }}"
  packageOverrides:
    - packageName: "{{ params.chart.name }}"
      packageAlias: "{{ params.name }}"
      {%- if values["values"] %}
      packageOverrides:
        - path: spec
          value:
            {{ params.chart['values'] | merge(values["values"], values.deepMerge) | to_yaml | indent(width=12) }}
      {%- endif %}
