name: On tag

on:
  push:
    tags:
      #  <app>    -<yyyy>  <mm>     <dd>       T<hh>      <mm>      <ss>      -<env>
      - "[a-z0-9]+-202[1-9][01][0-9][0123][0-9]T[012][0-9][0-5][0-9][0-5][0-9]-[a-z]+"

jobs:
  dev:
    name: Dev
    runs-on: ubuntu-latest
    if: endsWith(github.ref, '-dev')
    environment: dev
    steps:
      - &checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - &get_env
        name: Get env from tag
        id: env
        run: |-
          echo "::set-output name=env_name::${GITHUB_REF##*-}"

      - &print_msg
        name: Print message
        run: |-
          echo "Generating ${{ steps.env.outputs.env_name }} files..."

      - &get_higher_env
        name: Get higher env name
        id: higher_env
        run: |-
          if [[ '${{ steps.env.outputs.env_name }}' == 'dev' ]]; then
              NAME='lobdev'
          elif [[ '${{ steps.env.outputs.env_name }}' == 'lobdev' ]]; then
              NAME='uat'
          elif [[ '${{ steps.env.outputs.env_name }}' == 'uat' ]]; then
              NAME='prod'
          elif [[ '${{ steps.env.outputs.env_name }}' == 'prod' ]]; then
              NAME=''
          fi

          echo "::set-output name=env_name::$NAME"

      - &promote
        name: Promote to higer env
        run: |-
          ENV=$(echo '-${{ steps.env.outputs.env_name }}')
          LEN="${#ENV}"
          TAG="${GITHUB_REF##*/}"

          if [[ -n '${{ steps.higher_env.outputs.env_name }}' ]]; then
              git tag "${TAG:0:-$LEN}-${{ steps.higher_env.outputs.env_name }}"
              git push --tags
          else
              echo '::notice::End of promotion'
          fi

  lobdev:
    name: LobDev
    runs-on: ubuntu-latest
    if: endsWith(github.ref, '-lobdev')
    environment: lobdev
    steps:
      - <<: *checkout
      - <<: *get_env
      - <<: *print_msg
      - <<: *get_higher_env
      - <<: *promote

  uat:
    name: UAT
    runs-on: ubuntu-latest
    if: endsWith(github.ref, '-uat')
    environment: uat
    steps:
      - <<: *checkout
      - <<: *get_env
      - <<: *print_msg
      - <<: *get_higher_env
      - <<: *promote

  prod:
    name: Prod
    runs-on: ubuntu-latest
    if: endsWith(github.ref, '-prod')
    environment: prod
    steps:
      - <<: *checkout
      - <<: *get_env
      - <<: *print_msg
      - <<: *get_higher_env
      - <<: *promote
